# Created by https://www.gitignore.io/api/emacs
# Edit at https://www.gitignore.io/?templates=emacs

### Emacs ###
# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/
dist/

# Flycheck
flycheck_*.el

# server auth directory
/server/

# projectiles files
.projectile

# directory configuration
.dir-locals.el

# network security
/network-security.data

# End of https://www.gitignore.io/api/emacs

# Own files
.vscode
*main.py
*main.c
.DS_Store
__pycache__
0x05-python-exceptions/103-test.py
0x07-python-test_driven_development/102-tests.py
0x0B-python-input_output/my_file_0.txt
0x0B-python-input_output/10-main_2.py
0x0B-python-input_output/10-my_class_2.py
0x0B-python-input_output/10-my_class.py


# Default ignored files
.idea/workspace.xml
.idea/holbertonschool-higher_level_programming.iml
.idea/misc.xml
.idea/modules.xml
.idea/rGraphicsSettings.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
